<div class="splitRow">
  <h1>Getting Started</h1>
  <search-bar type='page'></search-bar>
</div>
<div class="informationWidth">
  <h2>What is a design system?</h2>
  When creating content, designing, photographing and so on, a uniform identity must be maintained for all final
  products.
  To make this task easier, this Design System includes rules, explanations, assets and everything needed to easily
  create
  a large and uniform environment.

  <h2>How to use?</h2>
  To use the design system head to the <a routerLink="../getting-started">Getting Started</a> section and follow the
  instructions there.

  <h2>Design system libraries</h2>
  The libraries contain three types of content:
</div>

<div class="contentGrid">
  <div class="contentItem" routerLink="../components">
    <div class="contentBox">
      <svg width="108" height="90" viewBox="0 0 108 90" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M59.3451 87.6822H106.347V1H1.72778V87.6822H49.6812" stroke="#7D7878" stroke-width="1.5"
          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M97.4134 26.9901H10.7312V50.9302H97.4134V26.9901Z" stroke="#7D7878" stroke-width="1.5"
          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M35.6962 58.251H10.7312V78.6037H35.6962V58.251Z" stroke="#7D7878" stroke-width="1.5"
          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M66.5183 58.251H41.5532V78.6037H66.5183V58.251Z" stroke="#7D7878" stroke-width="1.5"
          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M97.3405 58.251H72.3755V78.6037H97.3405V58.251Z" stroke="#7D7878" stroke-width="1.5"
          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M1.65308 16.3745H106.345" stroke="#7D7878" stroke-width="1.5" stroke-miterlimit="10"
          stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M54.3649 89C55.1331 89 55.7559 88.3773 55.7559 87.609C55.7559 86.8408 55.1331 86.218 54.3649 86.218C53.5967 86.218 52.9739 86.8408 52.9739 87.609C52.9739 88.3773 53.5967 89 54.3649 89Z"
          fill="#7D7878" stroke="#7D7878" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M97.4132 8.32104H91.9224" stroke="#7D7878" stroke-width="1.5" stroke-miterlimit="10"
          stroke-linecap="round" stroke-linejoin="round" />
        <path d="M86.9442 8.32104H81.4534" stroke="#7D7878" stroke-width="1.5" stroke-miterlimit="10"
          stroke-linecap="round" stroke-linejoin="round" />
        <path d="M76.548 8.32104H71.0571" stroke="#7D7878" stroke-width="1.5" stroke-miterlimit="10"
          stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <div class="boxTitle">
        Components
      </div>
    </div>
    <div class="boxData">
      <div class="boxTitle">Components</div>
      Collection of key elements for digital products that share one code and prevent duplicate code.
    </div>

  </div>
  <div class="contentItem" routerLink="../logo-library">
    <div class="contentBox">
      <svg width="98" height="102" viewBox="0 0 98 102" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 13.5165H24.4681" stroke="#7D7878" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M32.5515 13.5165H96.3064" stroke="#7D7878" stroke-width="1.5" stroke-miterlimit="10"
          stroke-linecap="round" stroke-linejoin="round" />
        <path d="M96.3064 89.0055H72.8384" stroke="#7D7878" stroke-width="1.5" stroke-miterlimit="10"
          stroke-linecap="round" stroke-linejoin="round" />
        <path d="M64.7549 89.0055H1" stroke="#7D7878" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M15.5371 1V101" stroke="#7D7878" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M81.6384 1V101" stroke="#7D7878" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M81.5731 70.7523L48.5223 89.0053L15.4714 70.6871" stroke="#7D7878" stroke-width="1.5"
          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M15.4714 31.8998L48.5223 13.5165L81.5731 31.7042" stroke="#7D7878" stroke-width="1.5"
          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M68.5358 63.1905L48.5228 74.3378L28.5098 63.1905V39.4617L48.5228 28.2491L68.5358 39.3313V63.1905Z"
          stroke="#7D7878" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <div class="boxTitle">
        Logo Library
      </div>
    </div>
    <div class="boxData">
      <div class="boxTitle">
        Logo Library
      </div>
      Collection of logos in SVG format to prevent duplicate code and help with easy code insertion
    </div>
  </div>
  <div class="contentItem" routerLink="../icon-library">
    <div class="contentBox">
      <svg width="92" height="91" viewBox="0 0 92 91" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.721 25.45v63.988h88.557V24.46" stroke="#7D7878" stroke-width="1.5" stroke-miterlimit="10"
          stroke-linecap="round" stroke-linejoin="round" />
        <path d="M80.996 15.92l2.846.866v66.897s-19.37-6.127-37.688.124V89.5" stroke="#7D7878" stroke-width="1.5"
          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M50.796 13.691L74.56 1.5v61.947L46.773 77.803V16.785s-16.585-6.435-38.306 0v66.898s19.37-6.127 37.688.124M53.2 25.883l14.79-7.488M53.2 37.309l14.79-7.426M53.2 48.797l14.79-7.488M53.2 60.285l14.79-7.488M18 68.875c3.404-1.175 14.852-2.537 19.556-.866M18 56.03c3.404-1.176 14.852-2.538 19.556-.867M18 43.184c3.404-1.176 14.852-2.537 19.556-.866M18 30.338c3.404-1.175 14.852-2.537 19.556-.866"
          stroke="#7D7878" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <div class="boxTitle">
        Icon Library
      </div>
    </div>
    <div class="boxData">
      <div class="boxTitle">
        Icon Library
      </div>
      Collection of icons in SVG format to prevent duplicate code and help with easy code insertion
    </div>
  </div>
</div>
