.codeBox {
  position: relative;
  outline: none;
  background: #F1F1F1;
  border-radius: 4px;
  padding: 28px 23px;
  font-family: monospace;
  padding-right: 50px;


  &.inline {
    display: inline;
    margin: 0;
    padding: 0 2px;
    border-radius: 0;
  }
}

.codeWrapper {
  position: relative;
  display: inline-block;
  margin: 30px 0;
  width: 100%;

  &.inline {
    display: inline;
    margin: 0;
    width: auto;
  }

  >svg {
    position: absolute;
    top: 20px;
    z-index: 3;
    right: 20px;
    cursor: pointer;

    * {
      transition: 0.3s fill;
    }

    &:hover * {
      fill: black;
    }
  }
}
