<<<<<<< HEAD
.navButtons svg:first-child {
  margin-right: 20px;
}

.navButtons {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 20px;
}

.codeBox {
  margin-top: 28px;
}

.codeTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 140.19%;
  color: #000000;
  opacity: 0.7;
}

.codeContainer {
  border: 1.5px solid #F1F1F1;
  box-sizing: border-box;
  border-radius: 1px;
  font-family: Roboto;
  padding: 20px;
}

.codeEditorBox {
  position: relative;
  outline: none;
  background: #F1F1F1;
  border-radius: 0px 0px 5px 5px;
  padding: 28px 23px;
  font-family: monospace;
}

.codeEditor {
  background: transparent;
  outline: none;

  @media (max-width: 768px) {
    margin-right: 50px;
    word-break: break-all;
  }
}

.navButtons svg {
  cursor: pointer;
}

.navButtons svg * {
  transition: 0.2s stroke;
}

.resetButton:hover * {
  stroke: rgb(84, 84, 84);
}

.copyButton:hover * {
  fill: rgb(84, 84, 84);
=======
.codeBox {
  position: relative;
  outline: none;
  background: #F1F1F1;
  border-radius: 4px;
  padding: 28px 23px;
  font-family: monospace;
  padding-right: 50px;


  &.inline {
    display: inline;
    margin: 0;
    padding: 0 2px;
    border-radius: 0;
  }
}

.codeWrapper {
  position: relative;
  display: inline-block;
  margin: 30px 0;
  width: 100%;

  &.inline {
    display: inline;
    margin: 0;
    width: auto;
  }

  >svg {
    position: absolute;
    top: 20px;
    z-index: 3;
    right: 20px;
    cursor: pointer;

    * {
      transition: 0.3s fill;
    }

    &:hover * {
      fill: black;
    }
  }
>>>>>>> 3dacc5adeaf7067cd9038cb68d86c54a7a56f6c0
}
