<page-header title="Logo Library"></page-header>
<tabs>
  <tab>
    <div class="componentMaxWidth">All logos are preceded with the class <code-box [inline]=true>.dsmLogo</code-box>
      and the related
      logo code. logos
      can be coloured, resized and have any effects applied to it that a normal SVG would have. </div>
    <code-container [icon]="logoEl">
    </code-container>
    <div class="smallTitle">Logo Options</div>
    <div class="iconGrid" #grid>
      <div class="iconContainer" *ngFor="let icon of icons" (click)="copyIcon($event)">
        <div class="dsmLogo {{icon}}"></div>
        <div class="iconClass">{{icon}}</div>
        <div class="copiedBox">Copied!</div>
      </div>
    </div>

  </tab>
</tabs>
