.smallTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 140.19%;
}

.usageDesc {
  max-width: 680px;
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  margin-bottom: 40px;
}

.breadCrumb {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: normal;
  color: #3A4850;
}

.currentPage {
  color: #0F0F0F;
}

.splitColumn {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-bottom: 32px;
  margin-bottom: 40px;
  border-bottom: 1px solid #DEDEDE;
}

@media (max-width: 1000px) {
  search-bar {
    display: none;
  }
}
