nav {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(0deg,
      #030622, #030622), linear-gradient(180deg, #2F4054 0%, #2F353D 100%);
  min-height: 100vh;
  width: 280px;
  position: sticky;
  left: 0;
  top: 0;
  scroll-behavior: smooth;
}

.navHeader {
  background-color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 37px;
}

.menuHeader {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.3;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 37px;
  padding-top: 26px;
  padding-bottom: 10px;
}

.menuHeader:first-child {
  border-top: none;
  padding-top: 0;
}

nav .menu {
  padding-top: 36px;
  height: calc(100vh - 80px);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
  }
}

.menuItem {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 16px 37px;
  display: block;
  text-decoration: none;
  transition: 0.2s background;
}

.menuItem:hover,
.menu>.subMenu:hover {
  background: #2C355F;
}

.menuItem.active {
  background: #1C2240;
}

.subMenu>.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.subMenu .innerMenu {
  max-height: 0;
  overflow: hidden;
}

.subMenu.active .innerMenu {
  overflow: visible;
}

.subMenu {
  padding: 0 34px;
  transition: 0.2s background;
  border-left: 4px solid transparent;
}

.subMenu.active,
.subMenu.active:hover {
  background: #1C2240 !important;
  display: block;
  width: 100%;
  padding: 0 34px;
  box-sizing: border-box;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.subMenu.active .menuItem {
  font-weight: bold;
  padding: 16px 0;
  padding-bottom: 8px;
}

.subMenu .menuItem:hover {
  background: transparent;
}

.subMenu.active>.menuItem svg {
  display: none;
}

.subMenu.active>.innerMenu {
  display: block;
  margin-left: 16px;
  padding-bottom: 8px;
}

.subMenu .innerMenu .menuItem {
  display: block;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  justify-content: flex-start;
  color: #D3D3D3;
  padding: 10px 0;
  text-align: left;
  transition: 0.2s color;
}

.subMenu .innerMenu .subMenu {
  padding: 0;
  border-left: none;
}

.subMenu.active .innerMenu .menuItem.active {
  font-weight: bold;
  color: white;
  background-color: transparent;
}

.subMenu .innerMenu .subMenu .innerMenu {
  /* display: none; */
  max-height: 0px;
  overflow: hidden;
}

.subMenu .innerMenu .subMenu .menuItem {
  display: flex;
  justify-content: space-between;
}

.subMenu.active .innerMenu .subMenu.active>.menuItem {
  font-weight: bold;
  color: white;
}

.subMenu.active .innerMenu .subMenu.active {
  border-left: none;
  overflow: visible;
  background-color: rgba(255, 255, 255, 0.05) !important;
  margin-left: -50px;
  width: calc(100% + 84px);
  padding: 0px 53px;
  padding-bottom: 10px;
}


.subMenu .innerMenu .subMenu .innerMenu .menuItem {
  font-size: 13px;
  line-height: 15px;
  color: #aaa;
  padding: 7px 0;
  transition: 0.2s color;
}

.subMenu.active .innerMenu .menuItem:hover,
.subMenu.active .innerMenu .subMenu.active .innerMenu .menuItem:hover {
  color: white;
  background: transparent;
}

.subMenu.active .innerMenu .subMenu.active .innerMenu .menuItem.active {
  color: white;
}

.subMenu .innerMenu .subMenu .innerMenu {
  display: block;
  padding: 0;
  padding-left: 12px;
  margin-left: 0;
  border-left: 1px solid #898989;
}

@keyframes smoothOpen {
  0% {
    opacity: 0;
    max-height: 0px;
  }

  70% {
    opacity: 1;
  }

  100% {
    max-height: 1000px
  }
}

.fadeOpen>.innerMenu {
  animation: smoothOpen 0.5s ease-in forwards;
}

.fadeClose>.innerMenu {
  animation: smoothOpen 0.5s ease-in forwards reverse;
}

.mobileNav {
  display: none;
}

@media (max-width: 768px) {
  nav {
    width: 100%;
    min-height: 0;
  }

  .navHeader {
    padding-left: 20px;
    width: 100%;
    height: 69px;
    padding-right: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%),
      linear-gradient(0deg, #030622, #030622),
      linear-gradient(180deg, #2F4054 0%, #2F353D 100%);

    svg * {
      fill: white;
    }

  }

  nav {
    transition: 0.4s min-height;
  }

  .openMenu {
    min-height: 100vh;
  }

  .openMenu .menu {
    display: block;
  }

  .menu {
    display: none;
  }

  .mobileNav {
    display: flex;
    gap: 28px;
  }

  .navHeader {
    display: flex;
    justify-content: space-between;
  }

  .subMenu .innerMenu .menuItem {
    padding: 12px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #AAAAAA;
  }

  .subMenu .innerMenu .subMenu .innerMenu .menuItem {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    padding: 8px 0;
    line-height: 18px;
  }
}
